<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RelativityConnectTest.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RelativityConnectTest.Settings1>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="RESTUrl" serializeAs="String">
        <value>https://devaon.myrelativity.legal</value>
      </setting>
      <setting name="ServicesUrl" serializeAs="String">
        <value>https://devaonapi.myrelativity.legal</value>
      </setting>
      <setting name="IdentityServerTokenUrl" serializeAs="String">
        <value>https://aon.myrelativity.legal/Relativity/Identity/connect/token</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value />
      </setting>
    </RelativityConnectTest.Settings1>
  </userSettings>
</configuration>
